{% include 'partials/head.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

<form action="/download" method="post" id="download-form">
    <div id="presentation-div">
        <h1>Welcome to YTDownloader!</h1>
        <h2>Place in the youtube link you wanna download from!</h2>
    </div>
    <div id="download-form-fields-div">
        <input type="text" name="link" id="link-input" />
        <select name="format" id="format-select">
            <option value="video">Video</option>
            <option value="audio">Audio</option>
        </select>
    </div>
    <div id="download-form-buttons-div">
        <button type="reset" id="reset-form-button">Reset</button>
        <button type="submit" id="submit-form-button">Download</button>
    </div>
</form>

{% include 'partials/footer.html' %}